# Java / Spring
target/
*.class

# Node / frontend
node_modules/
dist/
build/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Env / secrets
.env
.env.*
application-prod.properties
application-prod.yml

# Logs
*.log